.container {
  display: flex;
  flex-direction: column;
}

.fileInput {
  display: none;
}

.uploadLabel {
  margin: 1rem;
  padding: 1rem;
  background-color: #222223;
  border-radius: 0.5rem;
  cursor: pointer;
}

.uploadButton {
  margin: 1rem;
  padding: 1rem;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.uploadButton:disabled {
  background-color: #414040;
  cursor: not-allowed;
}

.fileUrl {
  font-size: 0.875rem;
  word-break: break-all;
  text-align: center;
}
