.li {
  /* padding: 0; */
  /* text-decoration: none; */
  margin: 0 10px 0 10px;
  list-style: none;
  /* border: none; */
  /* background: none; */
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  /* font-size: medium; */
}

.link {
  /* padding: 0; */
  text-decoration: none;
  margin: 0 10px 0 10px;
  /* border: none; */
  /* background: none; */
  color: white;
  /* height: 50px; */
  /* font-size: medium; */
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: black;
  height: max-content;
  position: fixed;
  top: 0;
  width: 100%;
}
