.games {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.3rem 0 0.5rem 0.5rem;
  width: 200px;
  height: 84px;
  margin: 3px;
  color: white;
  text-decoration: none;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
  font-family: "Source Sans Pro", sans-serif;
}

.teamContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

.logo {
  width: 25px;
  height: 25px;
}

.time,
.date {
  font-size: 10px;
}

.logoDiv {
  display: flex;
  align-items: center;
}
.teamName {
  flex: 1;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
}

.record {
  padding-right: 15px;
}

.scoreboard::-webkit-scrollbar {
  height: 0.5rem;
}

.scoreboard::-webkit-scrollbar-track {
  background: #1e1e24;
}

.scoreboard::-webkit-scrollbar-thumb {
  background: rgb(69, 68, 68);
}

.scoreboard {
  background-color: rgb(34, 34, 35);
  overflow: auto;
  display: flex;
  white-space: nowrap;
  font-family: "Source Sans Pro", sans-serif;
}

.news {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 20px;
  font-family: "Source Sans Pro", sans-serif;
}

.newInfo {
  background-color: rgb(34, 34, 35);
  box-shadow: 0px 0px 10px 0px rgba(39, 49, 65, 0.1);
  height: auto;
  color: white;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  place-content: center space-between;
  top: 0px;
  min-height: 450px;
  width: 670px;
  border-radius: 12px;
  padding: 24px;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  overflow-wrap: break-word;
  inline-size: 670px;
  font-family: "Source Sans Pro", sans-serif;
}

.Pic {
  height: 325px;
  width: 575px;
}

.newsHeader {
  font-size: xx-large;
}

.offseason {
  height: 50px;
  color: antiquewhite;
  justify-content: center;
  display: flex;
  align-items: center;
}

.odds {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 12px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.odds_div {
  display: flex;
  justify-content: center;
  color: lightgray;
}

.upcoming {
  margin: 30px 0 20px 0;
  color: white;
}

.team_info {
  background-color: rgb(34, 34, 35);
  box-shadow: 0px 0px 10px 0px rgba(39, 49, 65, 0.1);
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.team_format {
  margin-bottom: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.team_header {
  padding-top: 10px;
  margin-bottom: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.team_info h4 {
  margin-top: 0;
}

.team_info p:first-of-type {
  min-width: auto;
}

.team_info p {
  min-width: auto;
}

.name_record {
  min-width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.odds_logo {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.name_logo {
  display: flex;
  padding-left: 10px;
  flex-direction: row;
  align-items: center;
}

.standing_div {
  width: 25%;
  float: left;
  padding-left: 5%;
}

.odds_container {
  width: 25%;
  float: left;
  /* padding-right: 15%; */
  padding-right: 5%;
  white-space: nowrap;
}

.Standings {
  background-color: #222223;
  box-shadow: 0 0 10px 0 rgba(39, 49, 65, 0.1);
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  text-align: center;
  font-family: Source Sans Pro, sans-serif;
  overflow: hidden;
  white-space: nowrap;
}

.standings_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.mobile_sports {
  display: none;
}

.mobile_tab {
  /* height: 20px; */
  margin: 5px;
  background-color: #222223;
  border: none;
  color: white;
  border-radius: 12px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mobile_tab:active {
  background-color: #181818;
}

/* Small screens (phones, 480px and below) */
@media only screen and (max-width: 480px) {
  .games {
    width: 100%;
    margin: 0;
    border: none;
  }

  .teamContainer {
    margin-right: 0;
  }

  .logo {
    width: 20px;
    height: 20px;
  }

  .time,
  .date {
    font-size: 8px;
  }

  .teamName {
    margin: 0;
    font-size: 10px;
  }

  .record {
    padding-right: 5px;
  }

  .newInfo {
    width: 100%;
    border-radius: 0;
    padding: 16px;
    min-height: 300px;
  }

  .Pic {
    height: 250px;
    width: 90%;
  }

  .newsHeader {
    font-size: x-large;
  }

  .odds {
    width: 100%;
    margin-top: 10px;
  }

  .name_logo {
    padding-left: 5px;
  }

  .test {
    display: none;
  }

  .standing_div,
  .new_div,
  .odds_container {
    width: 100% !important;
    float: none !important;
  }
}

/* Medium screens (tablets, 768px and below) */
@media only screen and (max-width: 769px) {
  .games {
    width: calc(50% - 6px);
    margin: 3px;
  }

  .newInfo {
    width: 90%;
  }

  .Pic {
    width: 90%;
  }

  .new_div,
  .odds_container,
  .standing_div {
    width: 100% !important;
    float: left !important;
    padding-right: 0;
    padding-left: 0;
  }

  .test {
    display: none;
  }

  .mobile_sports {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .buttons_div {
    display: flex;
    position: absolute;
  }
  .mobile_tab {
    /* height: 20px; */
    margin: 5px;
    background-color: #222223;
    border: none;
    color: white;
    border-radius: 12px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .mobile_tab:active {
    background-color: #181818;
  }
}

@media only screen and (max-width: 1490px) {
  .games {
    width: calc(50% - 6px);
    margin: 3px;
  }

  .Pic {
    width: 90%;
  }

  .new_div,
  .odds_container,
  .standing_div {
    width: 100% !important;
    float: left !important;
    padding-right: 0;
    padding-left: 0;
  }

  .test {
    display: none;
  }

  .mobile_sports {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .buttons_div {
    display: flex;
    position: absolute;
  }
  .mobile_tab {
    /* height: 20px; */
    margin: 5px;
    background-color: #222223;
    border: none;
    color: white;
    border-radius: 12px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .mobile_tab:active {
    background-color: #181818;
  }
}
