.profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.profile_header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  padding-top: 100px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pageNumber {
  margin: 0 10px;
  font-size: 14px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 14px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #d6d6d6;
}

.game_unfinished {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.update_container {
  position: fixed;
  z-index: 6;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Source Sans Pro", sans-serif;
}

.update_div_container {
  background-color: #1d1d1e;
  box-shadow: 0px 0px 10px 0px rgba(39, 49, 65, 0.1);
  display: block;
  font-size: 14px;
  border-radius: 10px;
  height: auto;
  width: 334px;
  margin: 15% auto;
}

.update_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile_body {
  padding: 20px;
}

.profile_body h2 {
  margin-bottom: 10px;
}

.profile_body form {
  display: flex;
  flex-direction: column;
}

.profile_body label {
  margin-bottom: 5px;
}

.profile_body input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile_body button[type="submit"] {
  padding: 10px;
  background-color: rgb(34, 34, 35);
  box-shadow: 0px 0px 10px 0px rgba(39, 49, 65, 0.1);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bet_table {
  border-collapse: collapse;
  max-width: 800px;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  margin: 30px;
  font-family: "Source Sans Pro", sans-serif;
}

.transaction_table {
  border-collapse: collapse;
  max-width: 800px;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  margin: 30px;
  font-family: "Source Sans Pro", sans-serif;
}

.bet_table_header {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.bet_table_cell {
  padding: 12px;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #ddd;
}

.bet_table_row:hover {
  background-color: #2a2a2a;
}

.findGame {
  padding: 10px;
  margin-top: 15px;
  background-color: rgb(34, 34, 35);
  box-shadow: 0px 0px 10px 0px rgba(39, 49, 65, 0.1);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.table_div {
  background-color: #222223;
  box-shadow: 0 0 10px 0 rgba(39, 49, 65, 0.1);
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  text-align: center;
  font-family: Source Sans Pro, sans-serif;
  /* overflow-x: scroll; */
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 769px) {
  .profile_title {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile_title h1 {
    margin-bottom: 10px;
  }

  .profile_title button {
    margin-top: 10px;
  }

  .bet_table {
    margin: 10px;
    font-size: 12px;
  }

  .bet_table_header,
  .bet_table_cell {
    padding: 8px;
  }

  .table_div {
    width: 100%;
    margin: 5px;
    font-size: 14px;
    overflow-x: scroll;
  }
}

@media (max-width: 480px) {
  .table_div {
    margin: 0px;
    font-size: 12px;
    overflow-x: scroll;
  }

  .bet_table {
    margin: 5px;
    font-size: 8px;
  }
}
